<h1 style="text-align:center">Vendor's Order Tracker</h1>
<h3 style="text-align:center">Welcome Back Pierre</h3>
<hr>
<a href='/vendors/new'>Add a new vendor</a>
<br>
<br>
<a href='/vendors'>View vendors</a>