<h1 style="text-align:center">Add An Order</h1>
<h3>Submit a new order for @Model.Name by filling out the following: </h3>
<hr>
<form action="/vendors/@Model.Id/orders" method="post">
    <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
    <div>
        <label for="title">Order Title: </label>
        <input id="title" name="title" type="text">
    </div>
    <br>
    <div>
        <label for="description">Order Description: </label>
        <input id="description" name="description" type="text">
    </div>
    <br>
    <div>
        <label for="price">Order Price: </label>
        <input id="price" name="price" type="text">
    </div>
    <br>
    <div>
        <label for="date">Date for Order Delivery: </label>
        <input id="date" name="date" type="text">
    </div>
    <br>
    <button type="submit">Add Order</button>
</form>